@{
    ViewData["Title"] = "Configurar Juego";
}

<h2>Configurar Juego</h2>

<form method="get" action='@Url.Action("Comenzar", "Home")'>
    <div>
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <label for="dificultad">Dificultad:</label>
        <select id="dificultad" name="dificultad" required>
            <option value="-1">Todas</option>
            @foreach (Dificultad dificultad in ViewBag.Dificultades)
            {
                <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
            }
        </select>
    </div>

    <div>
        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
            <option value="-1">Todas</option>
            @foreach (Categoria categoria in ViewBag.Categorias)
            {
                <option value="@categoria.IdCategoria">@categoria.Nombre</option>
            }
        </select>
    </div>

    <div>
        <button type="submit">Jugar</button>
    </div>
</form>

